h1{
    text-align: center;
    color: #224229;
    margin-top: 100px;
}

table{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body{
    background-color: #f9f2e7;
}

th{
    background-color: #224229;
    color: #f9f2e7;
    height: 50px;
    
}

button{
    color: white;
    border: none;
    background-color: #224229;
    border-radius: 5px;
    width: 70%;
    text-align: center;
    height: 50px;
}
.c{
  color: #224229;
  text-align: center;
  
}