h1{
    text-align: center;
    color: #224229;
    margin-top: 100px;
}
body{
    background-color: #f9f2e7;
    
}
.m{
    text-align:center;
}
button{
    color: white;
    border: none;
    width: auto;
    padding: 5px 15px;
    background-color: #224229;
    border-radius: 5px;
    
}
table {
  margin-left: auto;
  margin-right: auto;
}

.d1{
    background-color: #aeffc09c;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(182, 182, 182);
}